<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Youtube</title>
</head>
<body>
    <h1>Lista de Canais</h1>
    <ul>
    <h3>Quantidade Total de vídeos na Plataforma: {{ parTotalVideos }}</h3>
    {% for canal in parListaCanal %}
        <li><a href="{{ url_for('rotaCanal', parNomeDoCanal = canal.nome) }}">{{ canal.nome }}</li>
    {% endfor %}
    </ul>
</body>
</html>