<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Homepage do Netflix</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflixfavicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='images/netflix-logo.png') }}" alt="Netflix">
        <nav>
            <ul>
                <li><a href="{{ url_for('home')}}">Início</a></li>
                <li><a href="#">Séries</a></li>
                <li><a href="#">Filmes</a></li>
                <li><a href="#">Minha Lista</a></li>
            </ul>
        </nav>
    </header>
    <main class="catalog">
        {% for tema in parCatalogo %}
            <ul>
                <li>{{ tema.nome }}</li>
            </ul>
        {% endfor %}
    </main>
    <footer>
    </footer>
</body>
</html>    
